#insert-edit-link {
	height:13px;
	width:100%;
	padding:15px;
	bottom:-32px;
	left:0;
	position:fixed;
	background-color:red;
	z-index:999;
	cursor:pointer;
}

#insert-edit-link a {
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
}